{% extends "base.html" %}

{% block title %}{{ appointment }}{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-lg-9">
      <div class="page-header">
        <h1>Appointment</h1>
      </div>

      <dl class="dl-horizontal">
        <dt><strong>Name:</strong></dt>
        <dd>{{ appointment.name }}</dd>
        <dt><strong>Cell Phone:</strong></dt>
        <dd>{{ appointment.phone_number }}</dd>
        <dt><strong>Home Phone:</strong></dt>
        <dd>{{ appointment.home_phone }}</dd>
        <dt><strong>Email:</strong></dt>
        <dd>{{ appointment.email }}</dd>
        <dt><strong>Time:</strong></dt>
        <dd>{{ appointment.time }}</dd>
        <dt><strong>Appointment ID:</strong></dt>
        <dd>{{ appointment.emr_id }}</dd>
        <dt><strong>EMR Profile ID:</strong></dt>
        <dd>{{ appointment.profile_id }}</dd>
        <dt><strong>Comm Preference:</strong></dt>
        <dd>{{ appointment.comm_pref }}</dd>
      </dl>

      <a class="btn btn-default" href="{% url 'list_appointments' %}">Back</a>
      <a class="btn btn-default" href="{% url 'edit_appointment' appointment.id %}">Edit</a>
      <a class="btn btn-danger" data-method="delete" href="{% url 'delete_appointment' appointment.id %}">Delete</a>
    </div>
  </div>
{% endblock %}
